.vote-button {
    color: var(--tertiary);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--secondary);
    transition: .5s;
}

.vote-button:hover {
    border: 1px solid var(--quaternary);
    transition: .5s;
}

/*#long-arrow-alt-up:hover{
    color: red !important;
}*/

.widget-button.btn-flat.upVote.no-text.btn-icon.d-hover, .widget-button.btn-flat.downVote.no-text.btn-icon.d-hover{
    svg{
        color: var(--primary);
    }
}

.voted{
    color: var(--tertiary) !important;
}

nav.post-controls {
    padding: 0;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
}

vote-count {
    color: var(--tertiary);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 10px 4px 10px;  
    border: 1px solid var(--tertiary);
}